{% extends 'base.html.twig' %}

{% block title %}FactuurRegel index{% endblock %}

{% block body %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Navigation
  </button>
  <div class="dropdown-menu" aria-labelledby="Navigation">
    <a class="dropdown-item" href="{{ path('klant_index')}}">Klant</a>
    <a class="dropdown-item" href="{{ path('factuur_index')}}">Factuur</a>
    <a class="dropdown-item" href="{{ path('product_index')}}">Product</a>
    <a class="dropdown-item" href="{{ path('factuur_regel_index')}}">Factuurregel</a>
  </div>
</div>
    <h1>FactuurRegel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProductAantal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factuur_regel in factuur_regels %}
            <tr>
                <td>{{ factuur_regel.id }}</td>
                <td>{{ factuur_regel.ProductAantal }}</td>
                <td>
                    <a href="{{ path('factuur_regel_show', {'id': factuur_regel.id}) }}">show</a>
                    <a href="{{ path('factuur_regel_edit', {'id': factuur_regel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('factuur_regel_new') }}">Create new</a>
{% endblock %}
