{% extends 'base.html.twig' %}

{% block title %}Factuur index{% endblock %}

{% block body %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Navigation
  </button>
  <div class="dropdown-menu" aria-labelledby="Navigation">
    <a class="dropdown-item" href="{{ path('klant_index')}}">Klant</a>
    <a class="dropdown-item" href="{{ path('factuur_index')}}">Factuur</a>
    <a class="dropdown-item" href="{{ path('product_index')}}">Product</a>
    <a class="dropdown-item" href="{{ path('factuur_regel_index')}}">Factuurregel</a>
  </div>
</div>
    <h1>Factuur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FactuurDatum</th>
                <th>VervalDatum</th>
                <th>InzakeOpdracht</th>
                <th>Korting</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factuur in factuurs %}
            <tr>
                <td>{{ factuur.id }}</td>
                <td>{{ factuur.FactuurDatum ? factuur.FactuurDatum|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ factuur.VervalDatum ? factuur.VervalDatum|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ factuur.InzakeOpdracht }}</td>
                <td>{{ factuur.Korting }}</td>
                <td>
                    <a href="{{ path('factuur_show', {'id': factuur.id}) }}">show</a>
                    <a href="{{ path('factuur_edit', {'id': factuur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('factuur_new') }}">Create new</a>
{% endblock %}
